{#content}

<div class="row">
	
	<h1>Applications</h1>
	
	<div class="span12" n:inner-foreach="$applications as $application">
		{include #application application => $application}
	</div>
</div>

{/#}

{define #application}
<div class="well application">
	<h2><a n:href="application:history id => $application->getId()">{$application->getName()}</a></h2>
	<strong>Repository path:</strong> {$application|repoPath}
</div>
{/}