#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
php:
	date.timezone: Europe/Bratislava
	# zlib.output_compression: yes

nette:
	application:
		errorPresenter: Error
		mapping:
			*: Commander\*Module\*Presenter

	session:
		expiration: 14 days

parameters:

	git:
		binary: 
		repositories:
			path: %appDir%/../repositories
	releasesDir: %appDir%/../releases

	db:
		name: commander

	ui:
		theme: default
		responsive: false

	wamp:
		host:
		port: 8080

database:
	dbname: %db.name%
	uri: mongodb://localhost/%db.name%
	cachePrefix: %db.name%
	metaDataCacheClass: \Doctrine\Common\Cache\ArrayCache

redis:
	storage: on
	journal: on
	database: 0
	session: {database: 1}
	debugger: off

services:

	#utilities
	- GitWrapper\GitWrapper(%git.binary%)
	- Symfony\Component\Filesystem\Filesystem
	deployConsoleOutput:
		class: Commander\Console\DeployConsoleOutput(..., Symfony\Component\Console\Output\OutputInterface::VERBOSITY_DEBUG)
		autowired: false

	- Symfony\Component\Console\Output\ConsoleOutput(Symfony\Component\Console\Output\OutputInterface::VERBOSITY_DEBUG)

	#routing
	- App\RouterFactory
	router: @App\RouterFactory::createRouter

	#security
	- Security\UserManager

	#applications
	- Applications\ApplicationManager
	- Applications\DeployManager(%releasesDir%, %git.repositories.path%, ..., ..., ..., @deployConsoleOutput, ...)
	deployProgress:
		class: Applications\DeployProgress
		tags: ['subscriber']

	#git
	gitManager:
		class: Git\GitManager(%git.repositories.path%, %appDir%/config/hooks)
		tags: [subscriber]

	#wamp
	wsServer: WAMP\Server
	client: \WAMP\WAMPClient('http://localhost:8080')
	queueManager: Queue\QueueManager

	deployWorker: DeployWorker
	messagePublisher: 
		class: MessagePublisher
		tags: ['subscriber']