services:
	#commands
	deleteCache:
		class: Console\Command\DeleteCache
		tags: [console.command]

	install:
		class: Console\Command\Install
		tags: [console.command]

	createUser:
		class: Console\Command\CreateUser
		tags: [console.command]
		setup:
			- setUserManager(...)

	clearQueue:
		class: Console\Command\ClearQueue
		tags: [console.command]

	#hooks
	postReceive:
		class: Console\Command\GitPostReceiveHook
		tags: [console.command]

	preReceive:
		class: Console\Command\GitPreReceiveHook
		tags: [console.command]

	#helpers
	dialog:
		class: Symfony\Component\Console\Helper\DialogHelper
		tags: [console.helper]

	progress:
		class: \Symfony\Component\Console\Helper\ProgressHelper
		tags: [console.helper]

	formatter:
		class: \Symfony\Component\Console\Helper\FormatterHelper
		tags: [console.helper]

	dm:
		class: \Doctrine\ODM\MongoDB\Tools\Console\Helper\DocumentManagerHelper
		tags: [console.helper]

	documentManagerHelper:
		class: \Doctrine\ODM\MongoDB\Tools\Console\Helper\DocumentManagerHelper
		tags: [console.helper]