parameters:

	git:
		binary:
		repositories:
			path: %appDir%/../repositories
	releasesDir: %appDir%/../releases

	db:
		name: deployer

	ui:
		theme: default
		responsive: false

	#frontend settings
	wamp:
		host:
		port: 8080