<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{#title|striptags}Commander{/#}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<style>
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
		</style>
		<link href="{$basePath}/css/themes/{$ui->theme}.css" rel="stylesheet">
		<link n:if="$ui->responsive" href="{$basePath}/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">
		<link href="{$basePath}/css/app.css" rel="stylesheet">
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="{$basePath}/js/html5shiv.js"></script>
		<![endif]-->

		<!-- Fav and touch icons -->
		{#head}{/#}
		
	</head>

	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="brand" href="#">Commander</a>
					
					<div n:if="$user->isLoggedIn()">
						<div class="nav-collapse collapse">
							<ul class="nav">
								<li n:class="($presenter->isLinkCurrent('applications:*') or $presenter->isLinkCurrent('application:*')) ? active">
									<a n:href="applications:"><i class="icon icon-dashboard"></i> Applications</a>
								</li>
								<li n:class="$presenter->isLinkCurrent('settings:') ? active, pull-right">
									<a n:href="settings:"><i class="icon icon-cogs"></i> Settings</a>
								</li>
							</ul>
						</div><!--/.nav-collapse -->

						<div n:if="$user->isLoggedIn()" class="btn-group pull-right">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="icon icon-user icon-white"></i> {$user->identity->getLogin()}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a n:href="logout">Sign Out</a></li>
							</ul>
						</div>

						<a href="#addApllicationForm" role="button" class="btn btn-success pull-right" id="new-app-button" data-toggle="modal">
							<i class="icon icon-plus icon-white"></i> Add aplication
						</a>
						<a n:if="$user->isLoggedIn()" class="btn btn-info pull-right" id="deploy-toggle" data-toggle="modal" href="#deploys">
							Running deploys: <span id="deploys-count" class="badge badge-info">{count($deploys)}</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			{snippet flashes}
				{foreach $flashes as $flash}
					<div class="alert alert-{$flash->type} span12">
						<a class="close" data-dismiss="alert">×</a>
						<span class="icon icon-{$flash->type}"></span>
						<strong>{$flash->message}</strong>
					</div>
				{/foreach}
			{/snippet}

			{if $user->isLoggedIn()}
				{include newApplicationForm.latte}
			{/}

			{include #content}	
		</div>

		<div n:if="$user->isLoggedIn()" id="deploys" class="modal hide fade">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Running deploys</h3>
			</div>
			<div class="modal-body">
				
				<div class="accordion" id="deploys-accordion">
					<div class="accordion-group" n:foreach="$deploys as $applicationId => $messages" id="accordion-{$applicationId}">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#deploys-accordion" href="#collapse-{$applicationId}">
								<i class="icon icon-plus"></i> {$applicationId}
							</a>
						</div>
						<div id="collapse-{$applicationId}" class="accordion-body collapse">
							<div class="accordion-inner well" id="output-{$applicationId}">
								{foreach $messages as $message}
									{!$message|nl2br}
								{/}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="#" data-dismiss="modal" class="btn btn-primary">Close</a>
			</div>
		</div>
		
		<script>
			var userId = {$user->getId()};
			var wamp = {$wamp};
		</script>
		<script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"></script>
		<script data-main="/js/main" src="{$basePath}/vendor/requirejs/require.js"></script>
		{#scripts}
		{/#}

	</body>
</html>
