/* line 1, D:\www\commander\www\less\app.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\www\commander\www\less\app\.less}line{font-family:\000031}}
.application {
  width: 23%;
  margin-right: 2%;
  float: left;
}
/* line 7, D:\www\commander\www\less\app.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\www\commander\www\less\app\.less}line{font-family:\000037}}
#new-app-button {
  margin-right: 20px;
}
/* line 13, D:\www\commander\www\less\app.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\www\commander\www\less\app\.less}line{font-family:\0000313}}
#commits .date {
  font-size: 120%;
  border: none;
}
/* line 18, D:\www\commander\www\less\app.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\www\commander\www\less\app\.less}line{font-family:\0000318}}
#commits .date:first-child td {
  border: none;
}
/* line 23, D:\www\commander\www\less\app.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\www\commander\www\less\app\.less}line{font-family:\0000323}}
#commits .commit {
  font-size: 90%;
  padding: 15px;
}
/* line 26, D:\www\commander\www\less\app.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\www\commander\www\less\app\.less}line{font-family:\0000326}}
#commits .commit .gravatar {
  vertical-align: middle;
}
/* line 32, D:\www\commander\www\less\app.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\www\commander\www\less\app\.less}line{font-family:\0000332}}
#commits .commit .commit-message {
  width: 53%;
  font-weight: bold;
  vertical-align: middle;
}
/* line 36, D:\www\commander\www\less\app.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\www\commander\www\less\app\.less}line{font-family:\0000336}}
#commits .commit .commit-message span {
  display: block;
}
/* line 41, D:\www\commander\www\less\app.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\www\commander\www\less\app\.less}line{font-family:\0000341}}
#commits .commit .commit-info {
  vertical-align: middle;
  width: 35%;
}
/* line 44, D:\www\commander\www\less\app.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\www\commander\www\less\app\.less}line{font-family:\0000344}}
#commits .commit .commit-info p {
  margin-bottom: 0;
}
/* line 49, D:\www\commander\www\less\app.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\www\commander\www\less\app\.less}line{font-family:\0000349}}
#commits .commit .deploy-button {
  vertical-align: middle;
}
