{block content}

<div class="row">
	<div class="span12">
		<h1>{$application->getName()}</h1>
	</div>
	
	
</div>

<div class="row">
	<div class="span12">
		<a n:href="createDeployFolders!" class="btn btn-primary">Create deploy folders</a>
		<a n:href="createRepository!" class="btn btn-inverse">Create local repository</a>
	</div>
</div>
	
<div class="row">
	<div class="span12">
		{control formSettings}
	</div>
</div>