{block tab}

<div class="row">
	<div class="span12">
		<div class="pull-right">
			<a n:href="createDeployFolders!" class="btn btn-primary">Create deploy folders</a>
			<a n:href="createRepository!" class="btn btn-inverse">Create local repository</a>
			<a n:href="updateHooks!" class="btn btn-success">Update hooks</a>
		</div>
	</div>
</div>

<div class="tab-content">
	<div class="row">
		<div class="span12">
			{control formSettings}
		</div>
	</div>
</div>